/*
 * === Places class style ===
 */

/* Places flexbox */
.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  
  /* Article style */
  .places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    width: 390px;
  }
